$primary:#4C8BE0;
$secondary: gray;
$line :#eaeaea;
$white:white;
$blue:#35383c;
$blue-dark:#303337;
$heigh-dark-blue:#2b2e32;
$very-heigh-dark-blue:#1d1f22;
$social-icon:#575c61;
$hovered-social:#bfbfbf;
$clicked:#F6F6F6;

$gray-bg:rgb(234, 233, 233);