.social-icons
        {
            &--header
            {
                color: $social-icon;

                margin-top: 0;
                min-width: 15rem;
            }
            color: $line;
            font-size: 1.6rem;
            margin-top: 2rem;
           
            @include flex;
            justify-content: space-around;
            max-width: 12rem;
            align-items: center;

        }
        