.submenu
{
    &--my-account
    {
        background-color: $white;

        padding: 2rem 0;
        top: 4.7rem;
        border-top: $line;
        border: 1px solid $line;
        

    }
    &--category
    {
        
        left: -63.2rem;
      //  @include flex;

   // background-color: $white;
   // width: 90vw;
    }
    padding: 0;
    position: absolute;
    top: 10.5rem;
    left:0;
    border-top: 2px solid transparent;

    //transition:all 0.5s;
animation: border 0.5s ease-in-out;

    @keyframes border {
        from{
opacity: 0;
        }
        to{
opacity: 1;
        }
        
    }
}