.subscribe {
  background-color: $blue-dark;
  height: 25rem;
  width: 100%;
  @include flex;
  align-items: center;
  justify-content: space-around;
  &__left {
    @include flex;
    padding: 0 1.5rem;
  }
  &__right {
    @include flex;
  }
  &__icon {
    font-size: 3rem;
    color: $line;
    margin-right: 4rem;
  }
  &__desc {
    color: $white;
    font-size: 2.6rem;
    font-weight: 700;
  }

  &__txt {
    margin-right: 1.5rem;
    &__contorl {
      padding: 1rem 6rem;
    }
  }
  &__btn {
    margin-top: 1.1rem;
    font-size: 1.3rem;
  }
}
